.PageContainer-404{
 height: 100vh;
 width: 100vw;
 display: flex;
 align-items: center;
 justify-content: center;
}

.columns-404{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 60%;
    /* background-color: yellow; */
}

.ErrorColumn1-404 {
    width: 50%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1{
        font-size: 128px;
    };
    p {
        font-size: 34px;
    }
}

.ErrorColumn2-404 {
    width: 50%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* padding-right: 10%; */
}

.logoNoText-404 {
    height: 100%;
}

.navigate-back-404 {
    background: #edf2d6;
    padding: 20px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 40px;
    left: 40px;
    cursor: pointer;
  }
  
  .navigate-back-404:hover {
    opacity: 0.35;
    transition: all ease 0.2s;
  }