.main{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 1px;
    border-radius: 10px;
    background-color: #0D0D0D;
    justify-content: space-between;
    margin-bottom: 1vh;
}