.pageTitleBox{
    display: flex;
    width: 100%;
    height: 10%;
    font-family: Spectral;
    color: #B1B98E;
    align-items: center;
    h1{
        font-size: 40px;
    }
}

.filler-line{
    display: flex;
    height: 10%;
    min-width: 20%;
    flex-grow: 1;
    border: 0 solid #1E1E1E;
    border-bottom-width: 1px;
    margin-left: 10px;
    
}

.mainBody{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    margin-top: 20px;
    align-items: center;
}

.userOverviewPlaque{
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 25%;
    border-radius: 40px;
    background-color: #9D8EB9;
    padding-top: 20px;
}

.plaqueAddon{
    display: flex;
    background-color: #CCC1E0;
    width: 200px;
    height: 200px;
    border-top-right-radius: 100%;
    

}

.plaqueInfo{
    display: flex;
    flex-direction: column;
    margin-left: -10%;
    color: black;
    p{
        font-size: 32px;
        margin: 0;
        padding: 0;
    }
}

.usernameText{
    font-weight: bold;
}

.accountDate{
    margin-top: -20px;
}

.logoNoText{
    margin-left: auto;
    margin-right: 5%;
}

.transActionsContainer{
    width: 100%;
    align-content: center;
    
}