@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@100..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


html, body {
    margin: 0;
    padding: 0;
    // overflow: hidden; /* Prevent any scrolling */
    // height: 100%;
}

.main{
    display: flex;
    flex-direction: row;
    color: #B1B98E;
}

.content{
    display: flex;
    flex-direction: column;
    width: 87%;
    height: 100vh;
}

.welcomeTitleSection{
    display: flex;
    width: 100%;
    height: 10%;
    font-family: "Spectral", sans-serif;
    align-items: center;
    h1{
        margin-left: 2%;   
        font-size: 3vw;

    }
}
.fillerLine{
    display: flex;
    height: 10%;
    min-width: 20%;
    flex-grow: 1;
    border: 0 solid #1E1E1E;
    border-bottom-width: 1px;
}

.info{
    display: flex;
    width: 100%;
    height: 100%;
}

.centerSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    /* height: 100%; */
    max-height: 90%;
}

.plaque{
    display: flex;
    align-items: center;
    width: 97%;
    height: 25%;
    background-color: #E1DCEA;
    overflow: hidden;
    border-radius: 40px;
}
.tempShimmer{
    display: flex;
    background-color: #CCC1E0;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-top: 25%;
    margin-left: -10%;
}
.plaqueInfo{
    display: flex;
    flex-direction: column;
    margin-left: -10%;
    color: black;
    p{
        font-size: 32px;
        margin: 0;
        padding: 0;
    }
}
.boldText{
    font-weight: bold;
}
.plaqueDate{
    margin-top: -20px;
}

.atomImg{
    margin-left: auto;
    margin-right: 5%;
}

.recentTransactions{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
    width: 100%;
    min-height: 10%;
    flex-grow: 1;
    max-height: 42%;
    color: #EDF2D6;
    font-family: "Spectral", sans-serif;
}

.recentTransactionsBlock{
    display: flex;
    flex-direction: column;
    min-height: 20%;
    flex-grow: 1;
    max-height: 100%;
    width: 86%;
    padding-left: 2%;
    padding-right: 2%;
    border: 2px solid #161616;
    border-radius: 20px;
    justify-content: flex-start;



    h2{
        padding: 0;
        margin: 0;
        margin-top: 2%;
        font-size: 20px;
    }
}

.columnTitles{
    display: flex;
    flex-direction: row;
    width: 98%;
    justify-content: space-between;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-right: 2%;
    p{
        font-size: 12px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 100;
        margin: 0;
        padding: 0;
    }
}

.scrollHistory{
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100%;
}
